.DS_Store
.project
.settings
.classpath
.jupiter
.pydevproject
target
.metadata/
policy-endpoints/logs/
feature-session-persistence/sql/
feature-session-persistence/testingLogs/
policy-utils/debug-logs/
policy-utils/logs/
/bin/
*.log
policy-management/config/unnamed-controller.properties
