<!--
  ============LICENSE_START=======================================================
  feature-eelf
  ================================================================================
  Copyright (C) 2017-2020 AT&T Intellectual Property. All rights reserved.
  ================================================================================
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  ============LICENSE_END=========================================================
  -->

<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <property name="errorLogName" value="error" />
    <property name="metricsLogName" value="metrics" />
    <property name="auditLogName" value="audit" />
    <property name="debugLogName" value="debug" />
    <property name="networkLogName" value="network" />

    <property name="defaultPattern"
        value="%X{BeginTimestamp}|%X{EndTimestamp}|%X{RequestID}|%X{ServiceInstanceId}|%thread|%X{ServerName}|%X{ServiceName}|%X{PartnerName}|%X{TargetEntity}|%X{TargetServiceName}|%X{StatusCode}|%X{ResponseCode}|%X{ResponseDescription}|%X{InstanceUUID}|%.-5level|%X{Severity}|%X{ServerIPAddress}|%X{ElapsedTime}|%X{ServerFQDN}|%X{RemoteHost}|%X{ClassName}||%X{ProcessKey}|%X{TargetVirtualEntity}|%X{CustomField1}|%X{CustomField2}|%X{CustomField3}|%X{CustomField4}|%msg%n" />
    <property name="defaultMetricPattern"
        value="%X{BeginTimestamp}|%X{EndTimestamp}|%X{RequestID}|%X{ServiceInstanceId}|%thread|%X{ServerName}|%X{ServiceName}|%X{PartnerName}|%X{TargetEntity:-NA}|%X{TargetServiceName:-NA}|%X{StatusCode}|%X{ResponseCode}|%X{ResponseDescription}|%X{InstanceUUID}|%.-5level|%X{Severity}|%X{ServerIPAddress}|%X{ElapsedTime:-0}|%X{ServerFQDN}|%X{RemoteHost}|%X{ClassName}||%X{ProcessKey}|%X{TargetVirtualEntity}|%marker|%X{CustomField2}|%X{CustomField3}|%X{CustomField4}|%msg%n" />
    <property name="defaultAuditPattern"
        value="%X{BeginTimestamp}|%X{EndTimestamp}|%X{RequestID}|%X{ServiceInstanceId}|%thread|%X{ServerName}|%X{ServiceName}|%X{PartnerName}|%X{StatusCode}|%X{ResponseCode}|%X{ResponseDescription}|%X{InstanceUUID}|%.-5level|%X{Severity}|%X{ServerIPAddress}|%X{ElapsedTime:-0}|%X{ServerFQDN}|%X{RemoteHost}|%X{ClassName}||%X{ProcessKey}|%marker|%X{CustomField2}|%X{CustomField3}|%X{CustomField4}|%msg%n" />
    <property name="defaultErrorPattern"
        value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS+00:00, UTC}|%X{RequestID}|%thread|%X{ServiceName}|%X{PartnerName}|%X{TargetEntity}|%X{TargetServiceName}|%X{ErrorCategory}|%X{ErrorCode}|%X{ErrorDescription}|%msg%replace(%xException){'\n',' - '}%nopex%n" />

    <property name="networkPattern" value="[%d|%t]%m%n" />
    <property name="abstractNetworkPattern"
        value="[%d] [%X{networkEventType:-NULL}|%X{networkProtocol:-NULL}|%X{networkTopic:-NULL}|%X{requestID:-NULL}]%n" />
    <property name="debugPattern" value="[%date|%level|%logger{0}|%thread] %replace(%msg){'\n', ' '}%n" />

    <property name="logDirectory" value="logs/Policy" />
    <property name="debugLogDirectory" value="logs/Policy" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <appender name="EELFAudit" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDirectory}/${auditLogName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${logDirectory}/${auditLogName}.%i.log.zip
            </fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>${defaultAuditPattern}</pattern>
        </encoder>
    </appender>

    <appender name="asyncEELFAudit" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="EELFAudit" />
    </appender>

    <appender name="EELFMetrics" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDirectory}/${metricsLogName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${logDirectory}/${metricsLogName}.%i.log.zip
            </fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>15MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>${defaultMetricPattern}</pattern>
        </encoder>
    </appender>


    <appender name="asyncEELFMetrics" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="EELFMetrics" />
    </appender>

    <appender name="EELFError" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDirectory}/${errorLogName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${logDirectory}/${errorLogName}.%i.log.zip
            </fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>20MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>${defaultErrorPattern}</pattern>
        </encoder>
    </appender>

    <appender name="asyncEELFError" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="EELFError" />
    </appender>

    <appender name="EELFDebug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${debugLogDirectory}/${debugLogName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${debugLogDirectory}/${debugLogName}.%i.log.zip
            </fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>20MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>${debugPattern}</pattern>
        </encoder>
    </appender>

    <appender name="asyncEELFDebug" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="EELFDebug" />
    </appender>

    <appender name="NetworkOut" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDirectory}/${networkLogName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${logDirectory}/${networkLogName}.%i.log.zip
            </fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>15MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>${networkPattern}</pattern>
        </encoder>
    </appender>

    <appender name="AsyncNetworkOut" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="NetworkOut" />
    </appender>

    <logger name="com.att.eelf.audit" level="info" additivity="false">
        <appender-ref ref="asyncEELFAudit" />
    </logger>

    <logger name="com.att.eelf.metrics" level="info" additivity="false">
        <appender-ref ref="asyncEELFMetrics" />
    </logger>

    <logger name="com.att.eelf.error" level="error" additivity="false">
        <appender-ref ref="asyncEELFError" />
    </logger>

    <logger name="com.att.eelf.debug" level="info">
        <appender-ref ref="asyncEELFDebug" />
    </logger>

    <logger name="network" level="INFO" additivity="false">
        <appender-ref ref="AsyncNetworkOut" />
    </logger>

    <logger name="org.eclipse.jetty.server.RequestLog" level="info" additivity="false">
        <appender-ref ref="AsyncNetworkOut" />
    </logger>

    <root level="INFO">
        <appender-ref ref="asyncEELFDebug" />
        <appender-ref ref="asyncEELFError" />
    </root>

</configuration>
